* {
  font-family: nunito;
}
.container {
  width: 90%;
  margin: 0 auto;
}
html {
  font-size: 16px;
}
/* blog section */
.blog-section {
  background-color: #f4f4f4;
  padding: 50px 0;
}
.blog-section h2 {
  color: #52ab98;
  font-size: 2rem;
  text-align: center;
}
.blog-section .box11 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 100px 0;
}
.blog-section img {
  width: 100%;
  border-radius: 10px;
}
.blog-section h3 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 20px;
}
.blog-section span {
  font-weight: 700;
  color: #ababab;
}
.blog-section p {
  line-height: 1.8;
  color: #707070;
}
.blog-section button {
  background-color: #52ab98;
  border: 0;
  border-radius: 5px;
  color: #f4f4f4;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 1.2rem;
}
